{% extends 'templates/app.twig' %}

{% block content %}
    <h1>Our Products</h1>
    <hr>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                {% if pager.sortField == 'id' %}
                <th class="sorted {% if pager.sortOrder == 'ASC' %}ascending{% else %}descending{% endif %}">
                    <a href="{{ route('products') ~ '?sort=' ~ pager.sortReverse }}"> Product Id</a>
                </th>
                {% else %}
                <th>
                    <a href="{{ route('products') ~ '?sort=' ~ 'id.asc' }}"> Product Id</a>
                </th>
                {% endif %}

                {% if pager.sortField == 'name' %}
                <th class="sorted {% if pager.sortOrder == 'ASC' %}ascending{% else %}descending{% endif %}">
                    <a href="{{ route('products') ~ '?sort=' ~ pager.sortReverse }}">Product Name</a>
                </th>
                {% else %}
                <th>
                    <a href="{{ route('products') ~ '?sort=' ~ 'name.asc' }}"> Product Name</a>
                </th>
                {% endif %}

                {% if pager.sortField == 'price' %}
                <th class="sorted {% if pager.sortOrder == 'ASC' %}ascending{% else %}descending{% endif %}">
                    <a href="{{ route('products') ~ '?sort=' ~ pager.sortReverse }}"> Product Price</a>
                </th>
                {% else %}
                <th>
                    <a href="{{ route('products') ~ '?sort=' ~ 'price.asc' }}"> Product Price</a>
                </th>
                {% endif %}
            </tr>

            <form class="form-group" id="urlForm" method="get">
                <tr>
                    <th>
                        <input type="text" name="filter[id]"
                        value="{% if pager.filter.id is defined %}{{ pager.filter.id }}{% endif %}"
                        onchange="this.form.submit();" style="width:100%" placeholder="Filter product id">
                    </th>
                    <th>
                        <input type="text" name="filter[name]"
                        value="{% if pager.filter.name is defined %}{{ pager.filter.name }}{% endif %}"
                        onchange="this.form.submit();" style="width:100%" placeholder="Filter product name">
                    </th>
                    <th>
                        <input type="text" name="filter[price]"
                        value="{% if pager.filter.price is defined %}{{ pager.filter.price }}{% endif %}"
                        onchange="this.form.submit();" style="width:100%" placeholder="Filter product price">
                    </th>
                </tr>
                <input type="hidden" name="sort" value="{{ pager.sort }}">
            </form>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a class="btn btn-dark" href="javascript: void(0);" onclick="event.preventDefault();
                    postForm('{{ product.id }}', '{{ product.name }}', '{{ product.price }}');">Add to Cart</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-md-2">
            <div class="form-group">
                <label for="resultsPerPage"> Results per page</label>
                <select name="pageSize" class="form-control" id="resultsPerPage" form="urlForm" onchange="this.form.submit()">
                    <option {% if pager.pageSize == 1 %}selected{% endif %} value="1"> 1 </option>
                    <option {% if pager.pageSize == 3 %}selected{% endif %} value="3"> 3 </option>
                    <option {% if pager.pageSize == 5 %}selected{% endif %} value="5"> 5 </option>
                    <option {% if pager.pageSize == 10 %}selected{% endif %} value="10"> 10 </option>
                    <option {% if pager.pageSize == 20 %}selected{% endif %} value="20"> 20 </option>
                </select>
                <input type="hidden" name="pageSize" value="{{ pager.pageSize }}">
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function postForm(id, name, price) {
            var form = document.getElementById('addToCart');
            form.setAttribute('action', '{{ route('products.add') }}');
            document.getElementById('id').value = id;
            document.getElementById('name').value = name;
            document.getElementById('price').value = price;
            form.submit();
        }
    </script>

    <form action="{{ route('products.add') }}" method="post" style="display: none;" id="addToCart" enctype='multipart/form-data'>
        <input type="hidden" name="id" id="id" value="">
        <input type="hidden" name="name" id="name" value="">
        <input type="hidden" name="price" id="price" value="">
        <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}">
    </form>
    {% include 'templates/partials/_pagination.twig' %}

{% endblock %}
